<head>  
        <title>Jobify</title>
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
            <link href="/estilos.css" rel="stylesheet">
    </head>
    <Body>        

<h1><a href='/'><image src="/images/logo.png" alt='jobify by Fabricio Luiz'></image></a></h1>
 <p>We are jobify - join US!</p>


 